<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Congratulations!</h1>
<p>
  You have successfully crawled <%= @crawled_count %>  <%= @crawled_app %> and exported to excel.
</p>
<p>
  you can download it from <%= @excel_url %><br>
</p>

<p>Thanks for joining and have a great day!</p>
</body>
</html>