<%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, @job.title, placeholder: "Search Jobs" %>
    <span style="margin-right: 12px;margin-left: 12px;">From:</span>

    <%= select_tag :from ,options_for_select(@From.map { |lc| [lc.key, lc.value] },@job.from) %>

    <%= submit_tag "Search", style:"margin-left:20px" %>
<% end %>