<div class='landing-navigation course-nav sub-navigation hidden-xs'>
  <div class='container'>
    <div class='pull-left links' id="sticky_header">
      <a class="spy" du_smooth_scroll="true" target="#course-hero" offset="30">Crawling by scrapy</a>
      <a du_scrollspy="true" du_smooth_scroll="true" target="#home" offset="250">Highlights</a>
      <a du_scrollspy="true" du_smooth_scroll="true" target="#learning" offset="100">Crawl at Scruby</a>
      <a du_scrollspy="true" du_smooth_scroll="true" target="#testimonials" offset="100">Testimonials</a>
      <a du_scrollspy="true" du_smooth_scroll="true" target="#faq" offset="100">FAQ</a>
    </div>
  </div>
  <div class='clear'></div>
</div>

<div class="course-page-main" id="HomeController">
  <!--course-hero-1-->
  <section class="course-hero page-section" style="background-image: url('')" id="course-hero">
    <div class="page-section-inner container">
      <div class="hero-text-content">
        <h1 style="padding-right: 200px;">IT'S SIMPLE AND PERSONAL FOR EVERYONE</h1>
        <div class="subtitle restrict-line-width">A professional, expert for crawling site with
          scrapy. Through 24X7, full-time.
        </div>
        <div class="components">
          <div class="component">Scrapy</div>
          <div class="separator">+</div>
          <div class="component">Ruby</div>
          <div class="separator">=</div>
          <div class="component">Scruby</div>
        </div>
      </div>
    </div>
  </section>

  <!--press-articles-container-2-->
  <div class="press-articles-container">
    <div class="max-container">
      <div class="press-articles">
        <a class="press-link" href="http://techcrunch.com/2013/12/05/online-code-school-bloc-raises-2-million-for-its-web-development-apprenticeship-program/" target="_blank">
          <img alt="Techcrunch" src="https://cdn1.bloc.io/assets/landing/press/techcrunch-55c38c971cdf58069849a9d86a27861a.png">
        </a>
        <a class="press-link" href="http://thenextweb.com/dd/2011/12/14/trouble-learning-ruby-bloc-teaches-you-how-to-code/" target="_blank">
          <img alt="Tnw" src="https://cdn1.bloc.io/assets/landing/press/tnw-d344f2f81ec1e4051fcb75a934b9392c.png">
        </a>
        <a class="press-link" href="http://venturebeat.com/2012/07/26/bloc/" target="_blank">
          <img alt="Venturebeat" src="https://cdn1.bloc.io/assets/landing/press/venturebeat-ecc504ea6f49bcee6d307316050acbfe.png">
        </a>
        <a class="press-link" href="http://www.sfchronicle.com/technology/article/S-F-startup-Bloc-offers-a-new-way-to-learn-5109574.php">
          <img alt="Sfchronicle" src="https://cdn1.bloc.io/assets/landing/press/sfchronicle-bcfb9394a1c3199a1a00086a0ddf93f1.png">
        </a>
      </div>
    </div>
  </div>


  <!-- main banner (slider area) -->
  <section class="home" id="home">
    <a href="#home"  class="logo-lg wow zoomIn" data-wow-delay="0.5s">
      <img src="/assets/logo-large.png" width="127" height="107" alt="Scruby">
    </a>
    <h1 class="tlt">
		<span class="texts">
			<span style="font-family: 'Roboto', 'Helvetica Neue', sans-serif;font-size: 42px;line-height: 1.1;">
        Convert your crawled site items
      </span>
      <br style="height: 4px;"/>
			<span style="font-family: 'Roboto', 'Helvetica Neue', sans-serif;font-size: 42px;line-height: 1.1;">
        into the excel in seconds
      </span>
		</span>
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
          <p class="strong" style="font-family: 'Roboto', 'Helvetica Neue', sans-serif;font-weight: 500;">
            We understand your needs, just give it a try
          </p>
          <div class="cta-wrap">
            <div class="try-it-wrap wow fadeInLeft" data-wow-delay="3s">
              <a href="/itunes" class="btn btn-primary btn-xl" title="give it a try">Give it a
                try &nbsp;&nbsp;<i class="fa fa-angle-double-right">
              </i>
              </a>
              <small>
                <i class="fa fa-info-circle"></i> No sign in required.
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <img class="big-feature img-responsive" src="/assets/xsplash1.png" alt="See the awesome features below" pagespeed_url_hash="3949645745">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--learning-4(mentor-quote)-->
  <div id="learning">
    <section class="mentor-quote page-section page-section-contrast">
      <div class="mentor-image-desktop hide-on-mobile">
        <%= image_tag "djzhang-face.jpg", class: "img-circle" %>
      </div>
      <div class="quote-body">
        <blockquote class="quote-box quote-box-white">
          <div class="quote-box-body">There is nothing as effective as having an expert working along with you,
            side-by-side, helping you crawl the site and reach your goals.
          </div>
        </blockquote>
        <footer class="quote-attribution-mobile media-element">
          <div class="quote-attribution-avatar">
            <img alt="Fs small" height="64" src="/assets/djzhang-face.jpg" width="64">
          </div>
          <div class="quote-attribution-text">
            <div class="quote-attribution-name">
              Trujun Zhang
            </div>
            <div class="quote-attribution-subtitle">
              Freelancer
            </div>
          </div>
        </footer>
        <footer class="quote-attribution-desktop">
          -
        <span>
        Freelancer Trujun Zhang
        </span>
        </footer>
      </div>
    </section>
  </div>

  <!-- user/client testimonials -->
  <section class="block img-bg img3 testimonials" id="testimonials">
    <div class="container">
      <h2 class="title-heading text-center">
        <small>Testimonials</small>
        What our customers are saying
      </h2>
      <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
          <div class="owl-carousel" id="testimonial-carousel">
            <div class="single-quote">
              <img class="person" src="/assets/1.jpg" width="80" height="80" alt="Mourad Al Ashry" pagespeed_url_hash="4032499552">
              <blockquote>
                <p>A breakthrough technology!! Scruby saved our startup by reducing the business time needed to
                  develop our App LocName.</p>
                <footer>Mourad Al Ashry
                  <cite title="Source Title">Locname</cite>
                </footer>
              </blockquote>
            </div>
            <div class="single-quote">
              <img class="person" src="/assets/2.jpg" width="80" height="80" alt="Ahmed Abdel Fatah" pagespeed_url_hash="32032177">
              <blockquote>
                <p>We've used Scruby in multiple applications; The best benefits we got from using scruby are being able
                  to easily crawl the site we need with the customer and generating the excel files in
                  seconds.</p>
                <footer>Ahmed Abdel Fatah
                  <cite title="Source Title">Entlaqa</cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section class="block faq" id="faq" style="background-color: white">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h2 class="title-heading">
            <small>FAQ</small>
            These FAQ will answer your questions
          </h2>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="panel-group" id="accordion-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-up fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseThreePanel">
                    What is Scruby? </a>
                </h4>
              </div>
              <div id="collapseThreePanel" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p>
                    Scruby is a smart downloader designed specifically for web crawling and scraping.
                    It helps you to crawl the site quickly and reliably and reach your goals.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseOnePanel">
                    What tools, libraries or frameworks your site would be using for our project?
                    </a>
                </h4>
              </div>
              <div id="collapseOnePanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Scrapy is an application framework for crawling web sites and extracting structured data which can be used for a wide range of useful applications, like data mining, information processing or historical archival.</p>
                  <p>This site scruby, built with ruby on rails. Support for exporting to excel automatically.</p>
                  <p>We use mongo, nosql to store all crawled items, may scale well(ie. millions)</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseTwoPanel">
                    How can you prevent your Scrapy bot from getting banned? </a>
                </h4>
              </div>
              <div id="collapseTwoPanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Some websites implement certain measures to prevent bots from crawling them, with varying degrees of sophistication.
                    Getting around those measures can be difficult and tricky, and may sometimes require special infrastructure.
                  </p>
                  <p>We have IPs from 50+ countries available on request.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseFourPanel">
                    We need to crawl a site every week? </a>
                </h4>
              </div>
              <div id="collapseFourPanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Of course, No problem. We can crawl the site and send the data to your email every week.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseFivePanel">
                    Your price is too high? </a>
                </h4>
              </div>
              <div id="collapseFivePanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>No. so inexpensive. Not like other paid website, Scruby is low price and high quality.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseSixPanel">
                    How do I contact you? </a>
                </h4>
              </div>
              <div id="collapseSixPanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>If you need further assistance, please contact one of our customer service specialists:</p>
                  <p>By email, at trujunzhang@gmail.com</p>
                  <p>By clicking on the Contact Us link at the footer of homepage of our website.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa-angle-down fa"></i>
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-panel" href="#collapseSevenPanel">
                    Can I use  Scruby in my mobile phone? </a>
                </h4>
              </div>
              <div id="collapseSevenPanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Yes, Scruby is a Responsive, Mobile-Friendly Website.</p>
                  <p>You can use mobile web browser to browse it.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row" id="desktop-footer">
  <%= render 'layouts/footer' %>
  </div>

</div>