<div class="row">
  <div class="container form_panel">

<div class="panel panel-default form-bs">
  <div class="panel-heading">
    <h4>Editing proposal</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <%= link_to 'Show', @job %> |
  <%= link_to 'Back', jobs_path %>
</div>

  </div>
</div>

