<div class='container' id="showcases" data-ctrl="jobs">

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Listing proposals</div>
    <div class="panel-body">

      <!-- Table -->
      <table>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Show</th>
        </tr>

        <% @proposals.each do |proposal| %>
            <tr>
              <td><%= proposal.title %></td>
              <td><%= raw proposal.content %></td>
              <td><%= link_to 'Show', proposal %></td>
            </tr>
        <% end %>
      </table>

    </div>
  </div>

  <br/>
  <%= link_to 'New Proposal', new_proposal_path %>

</div>