<div class="row">
  <div class="container form_panel">

    <div class="panel panel-info form-bs">
      <div class="panel-heading">
        <h4>New proposal</h4>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>

      <%= link_to 'Back', proposals_path %>
    </div>

  </div>
</div>

