<div class="row">
  <div class="container form_panel">

    <div class="row">
      <nav>
        <ul class="pager">
          <li class="previous"> <%= link_to 'Back', proposals_path %></li>
          <li class="next"><%= link_to 'Edit', edit_proposal_path(@proposal) %></li>
        </ul>
      </nav>
    </div>

    <div class="panel panel-success">

      <div class="panel-heading">
        <h4><%= @proposal.title %></h4>
      </div>

      <div class="panel-body">
        <div style="padding-left: 12px;padding-top: 8px;padding-right: 4px;">
          <b class="pull-left">Content:</b>
          </br>
          <%= raw @proposal.content %>
        </div>
      </div>

    </div>
  </div>
</div>



