
.btn {
  font-weight: 700;
  background-color: #f15a24;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 11px 23px
}

.btn.hover, .btn:hover {
  color: #fff;
  background-color: #bc3b0c
}

.btn.active, .btn:active {
  background: #c63d0d;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

@media (min-width: 480px) {
  .btn {
    padding: 11px 30px
  }
}

.btn:focus {
  outline: none
}

.btn-mini {
  min-width: 50px;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 15px
}

@media (min-width: 480px) {
  .btn-mini {
    min-width: 80px;
    text-align: center
  }
}

.btn-medium {
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 15px
}

.btn-nav {
  border-radius: 3px;
  font-size: 12px;
  padding: 12px
}

.btn-full {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 100%
}

.btn-lower {
  text-transform: none
}

.btn-purple {
  background-color: #705ca0
}

.btn-purple.hover, .btn-purple:hover {
  color: #fff;
  background-color: #483682
}

.btn-purple.active, .btn-purple:active {
  background: #4c3989;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-teal {
  background-color: #00adad
}

.btn-teal.hover, .btn-teal:hover {
  color: #fff;
  background-color: #0b666b
}

.btn-teal.active, .btn-teal:active {
  background: #0c6f74;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-gray {
  background-color: #cccccc
}

.btn-gray.hover, .btn-gray:hover {
  color: #fff;
  background-color: #a6a6a6
}

.btn-gray.active, .btn-gray:active {
  background: #ababab;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-blue {
  background-color: #22a5d3
}

.btn-blue.hover, .btn-blue:hover {
  color: #fff;
  background-color: #0071bc
}

.btn-blue.active, .btn-blue:active {
  background: #0077c6;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-red {
  background-color: #e74c3c
}

.btn-red.hover, .btn-red:hover {
  color: #fff;
  background-color: #a82315
}

.btn-red.active, .btn-red:active {
  background: #b12516;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-facebook-blue {
  background-color: #3b5998
}

.btn-facebook-blue.hover, .btn-facebook-blue:hover {
  color: #fff;
  background-color: #1e2e4f
}

.btn-facebook-blue.active, .btn-facebook-blue:active {
  background: #213256;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-light-teal {
  background-color: #7dc2b1
}

.btn-light-teal.hover, .btn-light-teal:hover {
  color: #fff;
  background-color: #00adad
}

.btn-light-teal.active, .btn-light-teal:active {
  background: #00b7b7;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-yellow {
  background-color: #fcb517
}

.btn-yellow.hover, .btn-yellow:hover {
  color: #fff;
  background-color: #e58800
}

.btn-yellow.active, .btn-yellow:active {
  background: #ef8e00;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-dark-gray {
  color: gray;
  background-color: #4d4d4d
}

.btn-dark-gray.hover, .btn-dark-gray:hover {
  color: #fff;
  background-color: #666666
}

.btn-dark-gray.active, .btn-dark-gray:active {
  background: #6b6b6b;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-orange-border {
  background-color: #fff;
  border: 2px solid #f15a24;
  color: #f15a24
}

.btn-orange-border.hover, .btn-orange-border:hover {
  background-color: #f15a24;
  color: #fff
}

.btn-orange-border.active, .btn-orange-border:active {
  background: #ff931e;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-red-border {
  background-color: #fff;
  border: 2px solid #e74c3c;
  color: #e74c3c
}

.btn-red-border.hover, .btn-red-border:hover {
  background-color: #e74c3c;
  color: #fff
}

.btn-red-border.active, .btn-red-border:active {
  background: #a82315;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-purple-border {
  background-color: #fff;
  border: 2px solid #705ca0;
  color: #705ca0
}

.btn-purple-border.hover, .btn-purple-border:hover {
  background-color: #705ca0;
  color: #fff
}

.btn-purple-border.active, .btn-purple-border:active {
  background: #483682;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-teal-border {
  background-color: #fff;
  border: 2px solid #00adad;
  color: #00adad
}

.btn-teal-border.hover, .btn-teal-border:hover {
  background-color: #00adad;
  color: #fff
}

.btn-teal-border.active, .btn-teal-border:active {
  background: #0b666b;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-gray-border {
  background-color: #fff;
  border: 2px solid #cccccc;
  color: #cccccc
}

.btn-gray-border.hover, .btn-gray-border:hover {
  background-color: #cccccc;
  color: #fff
}

.btn-gray-border.active, .btn-gray-border:active {
  background: #a6a6a6;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-blue-border {
  background-color: #fff;
  border: 2px solid #22a5d3;
  color: #22a5d3
}

.btn-blue-border.hover, .btn-blue-border:hover {
  background-color: #22a5d3;
  color: #fff
}

.btn-blue-border.active, .btn-blue-border:active {
  background: #0071bc;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-facebook-blue-border {
  background-color: #fff;
  border: 2px solid #3b5998;
  color: #3b5998
}

.btn-facebook-blue-border.hover, .btn-facebook-blue-border:hover {
  background-color: #3b5998;
  color: #fff
}

.btn-facebook-blue-border.active, .btn-facebook-blue-border:active {
  background: #1e2e4f;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-light-teal-border {
  background-color: #fff;
  border: 2px solid #7dc2b1;
  color: #7dc2b1
}

.btn-light-teal-border.hover, .btn-light-teal-border:hover {
  background-color: #7dc2b1;
  color: #fff
}

.btn-light-teal-border.active, .btn-light-teal-border:active {
  background: #00adad;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn-yellow-border {
  background-color: #fff;
  border: 2px solid #fcb517;
  color: #fcb517
}

.btn-yellow-border.hover, .btn-yellow-border:hover {
  background-color: #fcb517;
  color: #fff
}

.btn-yellow-border.active, .btn-yellow-border:active {
  background: #e58800;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5)
}

.btn.disabled, .btn[disabled] {
  background-color: #cccccc;
  cursor: not-allowed
}

.btn-group {
  background: #aaa;
  border-radius: 8px;
  color: white;
  display: inline-block;
  overflow: hidden
}

.btn-group a {
  color: #ddd;
  display: inline-block;
  font-size: 12px;
  padding: 5px 8px
}

.btn-group a.off {
  background: #e74c3c;
  color: white
}

.btn-group a.on {
  background: #00adad;
  color: white
}

.btn-group.on {
  background: #00adad
}

.btn-group.on_inactive:hover {
  background: #0b666b
}

.btn-group.off {
  background: #e74c3c
}

.btn-filter {
  background: white;
  border: #f15a24;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #4d4d4d;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 4px
}

.btn-filter.selected {
  background: #f15a24;
  color: white
}
