.send_email_panel{
  background-color: #79b74a;
  padding: 1.25rem 1.25rem 0.6rem;

  label,h1{
    color: white;
  }

  span{
    color: #888888;
    padding-left: 4px;
  }
}

.devise-bs{
  margin-top: 100px;
}

