
.mobile-nav-container {
  background: rgba(0, 0, 0, 0.95);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  height: 65px;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  width: 100%;
  z-index: 1070
}

.mobile-nav-container.full-height {
  height: 100%
}

.mobile-nav-container.full-height .mobile-menu .mobile-nav {
  border-bottom: 1px solid #4d4d4d;
  height: 4.2rem;
  padding: 15px 20px
}

.mobile-nav-container * {
  box-sizing: border-box
}

.mobile-nav-container a {
  color: #999999
}

.mobile-nav-container ul {
  margin: 0;
  padding: 0
}

.mobile-nav-container ul li {
  list-style: none;
  text-decoration: none
}

.mobile-nav-container .mobile-nav-header {
  background-color: #333333;
  height: 65px;
  width: 100%
}

.mobile-nav-container .mobile-nav-header .bloc-main, .mobile-nav-container .mobile-nav-header .menu-button, .mobile-nav-container .mobile-nav-header .menu-x {
  cursor: pointer;
  position: absolute;
  top: 20px
}

.mobile-nav-container .mobile-nav-header .bloc-main {
  left: 20px;
  height: 25px;
  width: 25px
}

.mobile-nav-container .mobile-nav-header .menu-button, .mobile-nav-container .mobile-nav-header .menu-x {
  color: white;
  line-height: 25px;
  right: 20px
}

.mobile-nav-container .mobile-nav-header .menu-button:before {
  content: "Menu";
  font-weight: bold;
  text-transform: uppercase
}

.mobile-nav-container .mobile-nav-header .menu-x {
  font-family: "FontAwesome";
  font-size: 25px
}

.mobile-nav-container .mobile-menu {
  bottom: 0;
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  top: 65px
}

.mobile-nav-container .mobile-menu .mobile-nav {
  background: black;
  border-bottom: 0;
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  position: fixed;
  text-align: center;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  width: 100%;
  z-index: 1071
}

.mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%
}

.mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav li {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: white;
  color: white;
  cursor: pointer;
  display: table-cell;
  font-weight: bold;
  padding: 0.5rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 33.33%
}

.mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav li.active, .mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav li:hover {
  background-color: white;
  color: #333333
}

.mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav li:first-child {
  border-left: 1px solid white;
  border-radius: 3px 0 0 3px
}

.mobile-nav-container .mobile-menu .mobile-nav .mobile-list-nav li:last-child {
  border-radius: 0 3px 3px 0
}

.mobile-nav-container .mobile-menu .mobile-subnav-list {
  display: table;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  top: 4.2rem;
  width: 300%
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group {
  color: #999999;
  display: table-cell;
  padding: 0 20px;
  width: 33.333%
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .label {
  border-bottom: 1px solid #4d4d4d;
  color: white;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-transform: uppercase
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .label.no-border {
  border-bottom: none
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list {
  margin-bottom: 25px;
  width: 100%
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li {
  border-bottom: 1px solid #4d4d4d;
  overflow: hidden;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li > a, .mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li > span {
  color: #999999;
  display: block;
  font-weight: normal;
  padding: 0.75rem 0
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li > a:after, .mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li > span:after {
  content: "›";
  display: inline-block;
  float: right;
  position: relative
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list li .icon {
  font-family: "FontAwesome";
  font-style: normal;
  margin-right: 5px
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list .contact {
  border-bottom: 0
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list .contact > a:after, .mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list .contact > span:after {
  content: none
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .link-list .contact .contact-wrapper {
  display: inline-block;
  vertical-align: top
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form {
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 0.75rem;
  padding: 1rem 0 0.75rem
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form #nav_email_capture {
  display: table;
  width: 100%
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form #nav_email_capture .input-wrapper {
  display: table-cell
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form #nav_email_capture .input-wrapper.email {
  padding-right: 10px
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form #nav_email_capture .input-wrapper.submit {
  width: 80px
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .nav-email-form #nav_email_capture .input-wrapper input {
  width: 100%
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .footer {
  text-align: center
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .footer .social-link-list-wrapper {
  border-width: 1px 0;
  border-style: solid;
  border-color: #4d4d4d;
  margin-bottom: 15px;
  padding: 15px 15px 40px;
  text-align: center;
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .footer .social-link-list-wrapper .social-link-list {
  font-family: "FontAwesome";
  font-size: 1.25rem
}

.mobile-nav-container .mobile-menu .mobile-subnav-list .list-group .footer .social-link-list-wrapper .social-link-list li {
  margin-right: 2.5rem
}

.social-link-list li {
  list-style: none;
  float: left;
  margin-right: 18px;
}
