
.context-container--bright {
    color: white
}

.context-container--bright a {
    color: white;
    font-weight: 700
}

.context-container--bright .mini-headline {
    opacity: 0.4
}

.context-container--gray20 {
    background-color: #333333;
    color: #cccccc
}

.context-container--gray84 {
    background-color: #d6d6d6;
    color: #666666
}

.context-container--gray87 {
    background-color: #dedede;
    color: #666666
}

.context-container--gray90 {
    background-color: #e6e6e6;
    color: gray
}

.context-container--gray93 {
    background-color: #ededed;
    color: #666666
}

.context-container--gray95 {
    background-color: #f2f2f2;
    color: #666666
}

.context-container--gray97 {
    background-color: #f7f7f7;
    color: #666666
}

.context-container--white {
    background-color: white;
    color: #666666
}

.context-container--white a {
    color: #f15a24
}

.context-container--teal {
    color: white;
    background-color: #00adad
}

.context-container--teal a {
    color: white;
    font-weight: 700
}

.context-container--teal .mini-headline {
    opacity: 0.4
}

.context-container--purp {
    color: white;
    background-color: #705ca0
}

.context-container--purp a {
    color: white;
    font-weight: 700
}

.context-container--purp .mini-headline {
    opacity: 0.4
}

.context-container--blue {
    color: white;
    background-color: #22a5d3
}

.context-container--blue a {
    color: white;
    font-weight: 700
}

.context-container--blue .mini-headline {
    opacity: 0.4
}

.context-container--orange {
    color: white;
    background-color: #ff931e
}

.context-container--orange a {
    color: white;
    font-weight: 700
}

.context-container--orange .mini-headline {
    opacity: 0.4
}

.context-container--yellow {
    color: white;
    background-color: #fcb517
}

.context-container--yellow a {
    color: white;
    font-weight: 700
}

.context-container--yellow .mini-headline {
    opacity: 0.4
}
