#showcases{
  background-color: white;

  .cases-export-panel{
    padding-top: 20px;
    padding-bottom: 50px;
  }


  #cases-table{

  }

  .cif-box{
    background: white;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 30px 15px 0px;
    max-width: 536px;
    border: solid 1px #f15a24;
    border-radius: 4px;

    .cif-inner{
      max-width: 380px;
      margin: 0 auto;
      h2{
        margin-top: 0;
        font-weight: 300;
        color: #4d4d4d;
        font-size: 74px;
      }
      p{
        margin-bottom: 32px;
      }
    }
    .cif-button{
      background-color: #f15a24;
      left: 50%;
      position: absolute;
      top: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }


}