// Place all the styles related to the etsies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#catListings {

  .item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    .imgWrap {
      float: left;
      margin-right: 20px;
      width: 320px;
      position: relative;
      border: 1px solid #DDDDDD;
    }
  }

  .price{
    font-size: 32px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .information-table{
    margin-top: 20px;
  }

}

#catListings .item .imgWrap img {
  background: url(../assets/60.png);
  display: block;
  height: auto;
  max-width: 100%;
}