<!-- footer -->
<footer class="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-7">
        <div class="copyright">
          <a href="#home" class="ft-logo" >
            <img src="/assets/logo-large.png" alt="14" style="width: 127px;height: 107px;">
          </a>
          <div class="copy-text">
            <a href="mailto:trujunzhang@gmail.com" target="_top" class="email">Contact Us</a>
            <h style="color: gray">
              - 506, 405 shi, shanghai, Jiang su sheng, Egypt.
            </h>
            <br>
            <small style="color: grey">&copy; 2016 SCRUBY Inc. | All Rights Reserved</small>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="ft-social">
          <div class="social">
            <ul>
              <li>
                <a class="tip" data-toggle="tooltip" href="http://twitter.com/trujunzhang" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a class="tip" data-toggle="tooltip" href="https://cn.linkedin.com/in/trujunzhang" title="Linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="tip" data-toggle="tooltip" href="https://www.facebook.com/zhang.trujun.5" title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a class="tip" data-toggle="tooltip" href="https://plus.google.com/u/0/101799459276785948188" title="Google plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
