<div class="landing-navigation hidden-xs hidden-sm" id="main_menu">
  <div class="container">
    <a id="top"></a>
    <div class="links pull-left">
      <div class="logo">
        <div class="header-logo">
          <a href="/">
            <img alt="Logo white" src="/assets/logo-white.png" width="130" height="30">
          </a>
        </div>
      </div>
      <div class="dropdown" dropdown_selector=".course-dropdown-menu" menu_dropdown="">
        <span>Programs</span>
        <div class="course-dropdown-menu">
          <div class="inner">
            <div class="course-links">
              <section class="tracks">
                <div class="label">Become a Software Engineer</div>
                <ul>
                  <li class="course-icon-link web-track">
                    <a href="https://www.bloc.io/software-engineering-track"><i class="fa fa-tasks fa-fw"></i>
                      Software Engineering Track
                    </a></li>
                </ul>
              </section>
              <section class="tracks">
                <div class="label">Become a Junior Web Developer</div>
                <ul>
                  <li class="course-icon-link web-track">
                    <a href="https://www.bloc.io/web-developer-career-track"><i class="fa fa-desktop fa-fw"></i>
                      Full Stack Web Developer Track
                    </a></li>
                </ul>
              </section>
              <section class="tracks">
                <div class="label">Become a Product Designer</div>
                <ul>
                  <li class="course-icon-link web-track">
                    <a href="https://www.bloc.io/product-design-bootcamp"><i class="fa fa-picture-o fa-fw"></i>
                      Product Design Track
                    </a></li>
                </ul>
              </section>
              <section class="courses">
                <div class="label">Broaden Your Skills</div>
                <ul>
                  <li class="course-icon-link web-dev">
                    <a href="https://www.bloc.io/web-development-bootcamp"><i class="fa fa-terminal fa-fw"></i>
                      Rails Web Development Course
                    </a></li>
                  <li class="course-icon-link frontend">
                    <a href="https://www.bloc.io/frontend-development-bootcamp"><i class="fa fa-code fa-fw"></i>
                      Frontend Web Development Course
                    </a></li>
                  <li class="course-icon-link design">
                    <a href="https://www.bloc.io/ux-design-bootcamp"><i class="fa fa-picture-o fa-fw"></i>
                      UX/UI Design Course
                    </a></li>
                  <li class="course-icon-link android">
                    <a href="https://www.bloc.io/android-bootcamp"><i class="fa fa-android fa-fw"></i>
                      Android Development Course
                    </a></li>
                  <li class="course-icon-link ios">
                    <a href="https://www.bloc.io/ios-bootcamp"><i class="fa fa-apple fa-fw"></i>
                      iOS Development Course
                    </a></li>
                </ul>
              </section>
            </div>

          </div>
        </div>
      </div>
      <a href="https://www.freelancer.com/u/wanghaofree720.html">Freelancer</a>
      <a href="https://www.upwork.com/freelancers/~01acfe85619aeda9d8">Upwork</a>
    </div>
    <div class="links pull-right">

      <% if user_signed_in? %>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Login', new_user_session_path %>
          </li>
      <% end %>
      <% if user_signed_in? %>
          <li>
            <%= link_to 'Edit account', edit_user_registration_path %>
          </li>
      <% end %>

      <div class="divider">
        |
      </div>
      <%= link_to 'Sign up', new_user_registration_path, class: "enroll-btn btn" %>
      <!--<a class="enroll-btn btn" href="https://www.upwork.com/freelancers/~01acfe85619aeda9d8">Enroll </a>-->

    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="mobile-nav-container visible-xs visible-sm ng-scope" ng_class="{'full-height': menuOpen}" ng_controller="MobileNavCtrl" ng_init="init()">
  <div class="mobile-nav-header">
    <div class="bloc-main">
      <a href="/">
        <img alt="Square 50x50 black" src="/assets/logo-mobile.png">
      </a>
    </div>
    <div class="menu-button" ng_click="toggleMenu()" ng_hide="menuOpen"></div>
    <div class="menu-x icon fa fa-close ng-hide" ng_click="toggleMenu()" ng_hide="!menuOpen"></div>
  </div>
  <div class="mobile-menu">
    <div class="mobile-nav left" ng_class="{&quot;left&quot;: subNavPosition + &quot;%&quot;}">
      <ul class="mobile-list-nav">
        <li id="programList" ng_class="{active: tog==1}" ng_click="toggleProgramList()" class="active">
          Programs
        </li>
        <li id="aboutList" ng_class="{active: tog==2}" ng_click="toggleAboutList()">
          About
        </li>
        <li id="contactList" ng_class="{active: tog==3}" ng_click="toggleContactList()">
          Contact
        </li>
      </ul>
    </div>
    <div class="mobile-subnav-list" ng_style="{&quot;left&quot;: subNavPosition + &quot;%&quot;}" style="left: 0%;">
      <div class="list-group">
        <ul class="link-list">
          <li>
            <a href="/enroll">Sign in</a>
          </li>
          <li>
            <a href="/sign_in">Log in / Register</a>
          </li>
        </ul>
        <div class="label">Become a Software Engineer</div>
        <ul class="link-list">
          <li>
            <a href="https://www.bloc.io/software-engineering-track"><i class="icon fa fa-tasks"></i>
              Software Engineering Track
            </a></li>
        </ul>
        <div class="label">Become a Junior Web Developer</div>
        <ul class="link-list">
          <li>
            <a href="https://www.bloc.io/web-developer-career-track"><i class="icon fa fa-desktop fa-fw"></i>
              Full Stack Web Developer Track
            </a></li>
        </ul>
        <div class="label">
          Broaden Your Skills
        </div>
        <ul class="link-list">
          <li>
            <a href="https://www.bloc.io/web-development-bootcamp"><i class="icon icon-web-development"></i>
              Rails Web Development Course
            </a></li>
          <li>
            <a href="https://www.bloc.io/frontend-development-bootcamp"><i class="icon icon-frontend"></i>
              Frontend Web Development Course
            </a></li>
          <li>
            <a href="https://www.bloc.io/android-bootcamp"><i class="icon icon-android"></i>
              Android Mobile Development Course
            </a></li>
          <li>
            <a href="https://www.bloc.io/ios-bootcamp"><i class="icon icon-ios"></i>
              iOS Mobile Development Course
            </a></li>
          <li>
            <a href="https://www.bloc.io/ux-design-bootcamp"><i class="icon icon-design"></i>
              UX/UI Design Course
            </a></li>
        </ul>
      </div>
      <div class="list-group">
        <ul class="link-list">
          <li>
            <a href="https://www.freelancer.com/u/wanghaofree720.html">Freelancer</a>
          </li>
          <li>
            <a href="https://www.upwork.com/freelancers/~01acfe85619aeda9d8">Upwork</a>
          </li>
        </ul>
      </div>
      <div class="list-group">
        <ul class="link-list">
          <li class="contact">
            <a href="mailto:trujunzhang@gmail.com"><i class="icon fa fa-envelope-o fa-nav"></i>
              trujunzhang@gmail.com
            </a>
          </li>
        </ul>
        <div class="footer">
          <div class="social-link-list-wrapper">
            <ul class="social-link-list">
              <li>
                <a href="http://twitter.com/trujunzhang" target="_blank"><i class="fa fa-twitter"></i>
                </a></li>
              <li>
                <a href="https://cn.linkedin.com/in/trujunzhang" target="_blank"><i class="fa fa-linkedin"></i>
                </a></li>
              <li>
                <a href="https://www.facebook.com/zhang.trujun.5" target="_blank"><i class="fa fa-facebook"></i>
                </a></li>
              <li>
                <a href="https://plus.google.com/u/0/101799459276785948188" rel="publisher" target="_blank"><i class="fa fa-google-plus"></i>
                </a></li>
            </ul>

          </div>
          <div class="copyright">
            COPYRIGHT © 2016 SCRUBY
          </div>
        </div>
      </div>
    </div>
  </div>
</div>